
body{
    background-color: #fff;
    margin: 0;
}

.topo{
    height: 80px;
    background-color: #EEE;
}
.menu{
    height: 40px;
    background-color: #ddd;
}
.container{
    height: 200px;
    background-color: #fff;
}
.rodape{
    height: 80px;
    background-color: #ddd;
}